/* shared properties */
/* transitions */
.ease-p6 {
	-webkit-transition: all ease-out .6s;
	   -moz-transition: all ease-out .6s;
	    -ms-transition: all ease-out .6s;
	     -o-transition: all ease-out .6s;
            transition: all ease-out .6s;
}
.ease-p3 {
	-webkit-transition: all ease-in-out 0.3s;
	   -moz-transition: all ease-in-out 0.3s;
	    -ms-transition: all ease-in-out 0.3s;
	     -o-transition: all ease-in-out 0.3s;
            transition: all ease-in-out 0.3s;
}

/* z-index */
.layer-1 {
    z-index: 10;
}
.layer-2 {
    z-index: 20;
}
.layer-3 {
    z-index: 30;
}
.layer-4 {
    z-index: 40;
}
.layer-5 {
    z-index: 50;
}
.layer-6 {
    z-index: 60;
}
.top {
	z-index: 99;
}

/* float */
.left {
    float: left;
    margin-left: 10px;
}
.right {
    float: right;
    margin-right: 10px;
}

/* goRound */
@keyframes goRound {
    from { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }  }
@-webkit-keyframes goRound {
    from { -webkit-transform: rotate(0deg); }
    50%  { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes goRound {
    from { -moz-transform: rotate(0deg); }
    50%  { -moz-transform: rotate(180deg); }
    100% { -moz-transform: rotate(360deg); } }
.goRound {
        animation-name: goRound;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        -webkit-animation-name: goRound;
        -webkit-animation-duration: 10s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-name: goRound;
        -moz-animation-duration: 10s;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: infinite;
}
/* fadein */
.fade-in {
	        animation: fadein 1s;
	-webkit-animation: fadein 1s;
	   -moz-animation: fadein 1s;
}
        @keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
/* fadeout */
.fade-out {
	        animation: fadeout 1s;
	-webkit-animation: fadeout 1s;
	   -moz-animation: fadeout 1s;
}
        @keyframes fadeout { from { opacity: 1; } to { opacity: 0; } }
@-webkit-keyframes fadeout { from { opacity: 1; } to { opacity: 0; } }
   @-moz-keyframes fadeout { from { opacity: 1; } to { opacity: 0; } }
/* btnIn */
@keyframes         btnIn { from {         transform: scale(1.2); } to{         transform: scale(1); } }
@-webkit-keyframes btnIn { from { -webkit-transform: scale(1.2); } to{ -webkit-transform: scale(1); } }
@-moz-keyframes    btnIn { from {    -moz-transform: scale(1.2); } to{    -moz-transform: scale(1); } }
/* btnOut */
@keyframes         btnOut { from{         transform: scale(1.2); } to{         transform: scale(1); } }
@-webkit-keyframes btnOut { from{ -webkit-transform: scale(1.2); } to{ -webkit-transform: scale(1); } }
@-moz-keyframes    btnOut { from{    -moz-transform: scale(1.2); } to{    -moz-transform: scale(1); } }


/* mask */
span.mask {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 49;
}

/* background default */
.icon-userIcon {
	background-image: url('../img/Default-Icon-800.jpg');
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

/* hide of menu,page,sidebar */
.menu-hidetoRB { /* hide to right bottom side */
    -webkit-transform-origin: right bottom;
        -moz-transform-origin:right bottom;
        -ms-transform-origin: right bottom;
            transform-origin: right bottom;

    -webkit-transform: scale(0);
        -moz-transform:scale(0);
        -ms-transform: scale(0);
            transform: scale(0);

	-webkit-transition: all 0.6s;
	   -moz-transition: all 0.6s;
	    -ms-transition: all 0.6s;
	     -o-transition: all 0.6s;
            transition: all 0.6s;
}
.menu-hide {
    -webkit-transform: translateY(100%);
        -moz-transform:translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}
.page-hide-left {
    -webkit-transform: translateX(-100%);
        -moz-transform:translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.page-hide-right {
    -webkit-transform: translateX(100%);
        -moz-transform:translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
.sidebar-hide {
    -webkit-transform: translateX(-100%);
        -moz-transform:translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}


/* shared class */
.btn {
	cursor: pointer;
}

/* main body */
body, #viewport {
    padding: 0;
    margin: 0;
}
#viewport {
    box-sizing: border-box;
    position: absolute;
	top: 0;
	left: 0;
    display: block;
    width: 100%;
    height: 100%;

    min-height: 470px;
    min-width: 320px;

    overflow: hidden;
}
#page-main, #main {
    display: inline-block;
    position: absolute;
    height: 100%;
    width:  100%;
    box-sizing: border-box;
}
#page-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
#main {
    border: black 2px solid;

    background-color: rgba(0,0,0,.8);
    color: white;
}

#main> .row {
    display: block;
}


nav {
    padding-top: 10px;
    vertical-align: middle;
}
#page-main .btn-back, #btn-share {
    margin-top: .5em;
    display: inline-block;
    background-size: contain;
}
.btn-back {
    /*background-image: url('icons/back-w.svg');*/
	position: absolute;
	top: 0em;
	left: .2em;
}
#btn-share {
	position: absolute;
	top: 0em;
	right: .2em;
}
#tag-songMessage,
#tag-songArtist,
#tag-songTitle {
    display: inline-block;
}
#tag-songArtist,
#tag-songTitle {
	padding: .2em;
	max-height: 1.3em;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
#tag-songMessage {
	width: 100%;
	padding: 0 3em;
	box-sizing: border-box;
	display: block;
}
#tag-songArtist {
    color: rgba(255,255,255, .5);
}

hr.divider {
    margin: 0;
    padding: 0;
    opacity: .2;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: -10px;
}

.speaker {
    margin-left: 2em;
    background-image: url('icons/speaker-w.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: .6em;
    padding-top: 0;
    opacity: .6;

    cursor: pointer;
}


.empty, .range-fill, .loaded {
    position: absolute;
    display: inline-block;
}
.empty {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,.3);
}
.range-fill {
    border: 1px solid rgba(255,255,255,.8);
}
.range-btn {
    display: inline-block;
    position: absolute;
    background-color: rgba(255,255,255,.8);

    width: 10px;
    height: 10px;
    border-radius: 5px;

    margin-top: -4px;
}
#range-volume, #range-time {
        display: inline-block;
        position: absolute;

        text-align: left;
        width: 50%;
        height: 10px;
        cursor: pointer;
}

#range-volume {
    margin-left: 1em;
    padding-top: .5em;
}
#range-volume .range-fill {
    width: 100%;
}
#range-volume .range-btn {
    left: 100%;
}


#view-container {
    height: 28em;
    overflow: hidden;
    position: relative;
    min-height: 240px;
}

#view-container ul {
    list-style: none;
    text-align: center;
    padding: 0;
    line-height: 2em;
}
#view-lyric, #view-album {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

	-webkit-transition: all linear 0.5s;
	   -moz-transition: all linear 0.5s;
	    -ms-transition: all linear 0.5s;
	     -o-transition: all linear 0.5s;
            transition: all linear 0.5s;
}

#view-album {
    position: absolute;
    top: 0;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
}
#view-album > span.view-albumCover {
    display: inline-block;
    position: relative;
    top: 0;
    padding: 5em;
    border-radius: 10em;
    border: black 2.5em solid;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
#view-lyric span.middle {
	position: absolute;
	left: 50%;
	bottom: 0;
}
#view-canvas {
	position: absolute;
	left: -150px;
	bottom: 0;
}

span.song-opt-grp {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
}
span.song-opt-grp > span {
    display: inline-block;
    position: relative;
    /*padding: .8em;
    margin: 0 1em;*/
    /*background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;*/

            animation-duration: .3s;
    -webkit-animation-duration: .3s;
        -moz-animation-duration:.3s;
            animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function:ease-in-out;
            animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count:1;
            animation-direction: alternate;
    -webkit-animation-direction: alternate;
        -moz-animation-direction:alternate;
}
.favorite {
	color: white;
    animation-name: btnOut;
    -webkit-animation-name: btnOut;
    -moz-animation-name: btnOut;
}
.favorited {
	color: red;
    animation-name: btnIn;
    -webkit-animation-name: btnIn;
    -moz-animation-name: btnIn;
}
span.btn-comments {
}
span.btn-comments > span { /* comments count */
    display: inline;
    position: absolute;

    top: -2px;
    right: -2px;
    font-size: .5em;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: .2em;
}


#container-fileOption {
    /*display: none;*/
    position: absolute;
    width: 100%;
    bottom: 0;
}
#btn-lyricOption {
    border: 1px solid rgba(255,255,255,.8);
	padding: 2px;
    border-radius: .7em;
	font-size: 1.2em;

    display: inline-block;
    position: absolute;

    right: 1.2em;
    bottom: .2em;

    cursor: pointer;
}
#menu-lyricOption {
    display: inline-block;
    border-top: 1px solid white;
    position: absolute;
    right: 1.2em;
    bottom: 2.2em;
    background-color: rgba(0,0,0, .8);
}
.menu-item {
    display: list-item;
    list-style: none;
    padding: .6em 2em;
    border-bottom: 1px solid white;
	text-align: center;

    cursor: pointer;
}

div.bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
}

#time {
    position: relative;
    vertical-align: middle;
    padding-bottom: 1em;
}
#range-time {
    left: 4em;
    top: .5em;
    padding-top: -0.4em;
}
#range-time .range-fill {
    border: 1px solid rgb(255, 0, 0);
}
#range-time .loaded {
    border: 1px solid rgb(255, 255, 255);
}

#tag-currentTime, #tag-totalTime {
    display: inline-block;
    position: absolute;
}
#tag-currentTime {
    float: left;
    left: 10px;
}
#tag-totalTime {
    float: right;
    right: 10px;
}

#controls {
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    margin: .5em 0;
}
#controls  span {
    vertical-align: middle;
    display: inline-block;
	vertical-align: middle;
    cursor: pointer;
}

#btn-playMode, #btn-songlist {

}
#btn-preSong,#controls .btn-nextSong {
    border-radius: 100%;
    padding: .2em;
    border: white 2px solid;
}
#controls .btn-play {
	font-size: 2.5em;
}
.btn-play {
    border: white 2px solid;
    border-radius: 2em;

    padding: .2em;
    text-align: center;
    vertical-align: middle;

    margin: 0 1.5em;
}


ul#lyric {
	text-align: center;
	position: relative;
	list-style-type: none;
	min-height: 25em;
	padding: 0;
	margin: 0;
}
.line {
	color: rgba(255,255,255,.5);
    padding: 0 1em;

	-webkit-transition: all 0.6s;
	   -moz-transition: all 0.6s;
	    -ms-transition: all 0.6s;
	     -o-transition: all 0.6s;
            transition: all 0.6s;
}
.focus {
	color: white;
	font-weight: 700;
	display: inline-block;

	-webkit-transition: all 1s;
	   -moz-transition: all 1s;
	    -ms-transition: all 1s;
	     -o-transition: all 1s;
            transition: all 1s;
}



/* menu */
.menu {
	display: block;
	position: absolute;
	background-color: white;
	width: 100%;
	/* debug need to remove the scroll bar here */
	overflow-y: scroll;
	/*max-height: 20em;*/
	z-index: 50;
}
.menu > ul, .sidebar ul {
	left: 0;
	color: black;
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu li{
	border-bottom: 1px solid rgba(100,100,100,.2);
	text-align: left;
	padding: .5em 0;

	cursor: pointer;
}
.menu > span{
	display: block;
	margin-left: .5em;
	text-align: left;
	padding: .5em 0;
}

#menu-songlist {
    height: 65%;
    top: 35%;
    text-align: left;
	overflow: scroll; /* or hidden*/
}
#menu-songlist li {
	margin-left: .6em;
}
#menu-songlist span {
	margin: 0;
}
#menu-songlist span.header {
	background-color: white;
	z-index: 31;
	box-sizing: border-box;
	position: absolute;
	display: block;
	height: 3em;
	padding: 1em 0;
	top: 0em;
	border-bottom: 1px solid rgba(100,100,100, .2);
	width: 100%;
}
#menu-songlist .header .btn {
	font-size: .8em;
	color: rgba(0,0,0,.7);
	position: absolute;
}
#menu-songlist .header .left {
	left: .6em;
}
#menu-songlist .header .right {
	right: .6em;
}
#menu-songlist span.container {
	height: 25em;
	overflow-y: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#menu-songlist ul {
	left: 0;
	color: black;
	list-style: none;
	padding: 0;
	margin: 0;
}
/* space placer */
#menu-songlist ul:before {
	content: 'E';
	height: 3em;
	display: block;
}

#menu-songlist li > span {
	font-size: .6em;
}
#menu-songlist li.current {
	color: red;
}
#menu-songlist li.current:before {
	content: " ";
	display: inline-block;
	background-color: red;
}


#menu-share {
    height: 18em;

    bottom: 0;
    text-align: left;
}
#menu-share a { text-decoration: none; color: black; }
#menu-share a:visited { text-decoration: none; color: black }
#menu-share a:active { text-decoration: none; color: black }
#menu-fileOpt {
    height: 65%;
    top:35%;
    text-align: left;
}
#menu-fileOpt .tag-title {
	color: rgba(100,100,100,.8);
}
#menu-fileOpt .tag-title:before {
	content: '歌曲：';
}

/* page */
.page {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}
#page-comments {
	background-color: #dddddd;
}
#page-comments .header {
	background-color: red;
	color: white;
	padding: .8em;
	text-align: left;
}

#page-comments .btn-back {
    margin-top: .5em;
	font-size: 1.5em;
	display: inline-block;
}
#page-comments .tag-commentCount {
	margin-left: 2em;
}
#page-comments .tag-commentCount:before {
	content: '评论(';
}
#page-comments .tag-commentCount:after {
	content: ')';
}
#page-comments .bar-sub-controls {
	padding: .5em;
	height: 4em;
	width: 100%;
	display: block;
	position: relative;
}
#page-comments .tag-message {
	background-color: #aaa;
	display: block;
	padding: .3em .5em;
	font-size: .5em;
	color: rgba(0,0,0,.8);
}
#page-comments .btn-moreMessage {
	position: absolute;
	right: 0;
	top: .5em;
	color: #555;
}

#list-comments {
	margin: 0 .5em;
	padding: 0;
}
#list-comments>span {
	display: block;
	width: 100%;
	position: relative;
	margin: .5em 0;
}
#list-comments .view-commentUserIcon {
	border-radius: 1em;
	margin: 0 .2em;
	display: inline-block;
	position: absolute;
	left: 0;
}
#list-comments .container-comment {
	display: inline-block;
	position: relative;
	width: 100%;
	left: 0;
	padding-left: 3em;
	box-sizing: border-box;
}
.container-comment > span {
	display: block;
}
.container-comment > .tag-commentUser {
	color: rgba(0,0,0,.8);
	font-size: .5em;
}
.container-comment > .tag-commentDate {
	color: rgba(0,0,0,.6);
	font-size: .5em;
}
.container-comment > .tag-commentContent {
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(100,100,100,.2);
}
.container-comment > .tag-commentAgreeCount {
	color: rgba(0,0,0,.6);
	font-size: .5em;
	display: inline-block !important;
	position: absolute;
	width: auto;
	right: 0;
	top: 0;
}


/* #page-system */
#page-system {
	background-color: #dddddd;
}

#page-system .header {
	background-color: red;
	color: white;
	padding: .8em;
	display: block;
	text-align: left;
	text-align: center;
}
#page-system .header > .icon-menu-w {
	position: absolute;
	left: 0;
}
#page-system .header > .icon-search {
	position: absolute;
	right: 0;
}
#page-system span.paddingUpDown {
	padding-bottom: 8em;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
#page-system > .subpage-container {
	position: absolute;
	width: 100%;
	padding: 0;
	margin: 0;
}
.subpage-container > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}
.sub-page {
	display: inline-block;
	position: relative;
	width: 100%;
}
#subpage-netease, #subpage-music, #subpage-people {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
#subpage-netease {

}
#subpage-music {

}
#subpage-people {

}
#subpage-people > .person {
	display: inline-block;
	position: relative;
	height: 3em;
	width: 100%;
	padding: .2em .5em;
	margin-top: .4em;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(100,100,100,0.2);
}
.person > .icon-image {
	padding: 1.1em;
	margin: 0;
	border-radius: 100%;
	vertical-align: top;
}
.person > .tag {
	display: inline-block;
	margin: 0 .5em;
}
.person .userName,
.person .lastMessage {
	display: block;
}
.userName {
	color: rgba(0,0,0,0.8);
	font-size: 0.6em;
}
.unreadCount {
	color: white;
	background-color: red;
	border-radius: 100%;
	padding: .2em;
	position: absolute;
	right: 0.5em;
	top: 0.75em;
}

.bar-sub-controls {
	position: absolute;
	display: block;
	width: 100%;
	box-sizing: border-box;
	height: 3em;
	bottom: 0;
	background-color: white;

	cursor: pointer;
}
/*.bar-sub-controls */
.view-albumCover {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	padding: 1.5em;
	margin: 0;
}
/*.bar-sub-controls */
.tag-songMessage {
	display: inline-block;
	position: absolute;
	margin: .4em .4em;
}
.tag-songMessage span {
	display: block;
	position: relative;
	white-space: nowrap;
	max-width:
}
.tag-songTitle {
	top: 0;
}
.tag-songArtist {
	bottom: 0;
	color: rgba(0,0,0,.8);
	font-size: .6em;
}
.bar-sub-controls .view-controls {
	margin-top: .8em;
	display: inline-block;
	position: absolute;
	right: 0;
	color: red;
}
.bar-sub-controls .btn-songlist,
.bar-sub-controls .btn-nextSong {
	margin: 0;
	border: 0;
	font-size: 1.4em;
	vertical-align: middle;
}
/*.btn-songlist { background-image: url('icons/list-r.svg'); }*/
.bar-sub-controls .btn-play {
	/*background-image: url('icons/play-r.svg');*/
	/*background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;*/
	border: 2px solid red;
	color: red;
	font-size: 1.2em;
	border-radius: 100%;
	margin: 0 .5em;
	padding: .2em;
	/*padding: 0.2em 0.8em;*/
}
/*.bar-sub-controls .btn-nextSong { background-image: url('icons/next-r.svg'); }*/
.bar-sub-controls .range {
	display: inline-block;
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: left;
}
.bar-sub-controls .range-fill {
	width: 0;
	display: inline-block;
	left: 0;
	border: red solid 2px;
}



/* sidebar */
.sidebar {
	height: 100%;
	display: block;
	position: absolute;
	background-color: white;

	overflow-y: scroll;
	z-index: 50;
}
.sidebar #tag-userMessage{
	width: 100%;
	height: 14em;
	display: block;
	position: relative;
	top: 0;
	left: 0;

	background-color: green;
}
.sidebar #tag-userMessage .view-userMessage {
	position: absolute;
	bottom: 1em;
	left: 0.5em;
	display: inline-block;
}
.view-userMessage .container-userIcon {
	display: block;
	position: relative;
	margin-bottom: 1em;
}
.view-userMessage .container-userIcon .round-icon{
	display: block;
	position: absolute;
	bottom: 0;
	border-radius: 2em;
	padding: 2em;
	background-size: cover;
}
.view-userMessage .tag-userName {
	color: white;
}
.view-userMessage .tag-userRank {
	color: white;
	border: 1px solid white;
	border-radius: 1em;
	padding: .2em .4em;
	font-size: .6em;
}
.sidebar #tag-userMessage .btn-marks:before {
	margin-right: .2em;
}
.sidebar #tag-userMessage .btn-marks {
	display: inline-block;
	position: absolute;
	bottom: 1em;
	right: 0.5em;
	border: 1px solid white;
	color: white;
	padding: .2em .4em;
}

.sidebar li {
	text-align: left;
	padding: .8em 0;

	background-color: #dddddd;
	cursor: pointer;
}
.sidebar .bottom {
	display: block;
	bottom: 0;
	left: 0;
	background-color: white;

	width: 100%;
	max-width: 20em;
	text-align: center;
	height: 2.3em;
}
.sidebar .bottom > span {
	height: 100%;
	width: 49%;
	box-sizing: border-box;

	display: inline-block;
	padding: .5em;

	vertical-align: middle;
}

#sidebar-left {
    width: 75%;
	max-width: 20em;
    left: 0;
    top: 0;
}






/* classs for testing */
.test-identify {
    font-size: 3em;
    color: black;
    background: white;
}
.test-color-red {
    background-color: red;
}
.test-color-yellow {
    background-color: yellow;
}
.test-color-blue {
    background-color: blue;
}
.test-color-green {
    background-color: green;
}





/* plugin DOM elements generated by JavaScript */
input[type=file] {
    /* browser don't support drag */
    display: block;
    /*position: absolute;*/

    /*top: 15%;*/
    height: 100%;
    width: 100%;
    background-color: gray;
	box-sizing: border-box;
	opacity: 0;
	position: absolute;
	top: 0;
}
input[type=file]:before {
    display: block;
    width: 100%;
	box-sizing: border-box;
    padding: .5em 1em;
    font-size: 1.4em;
    background-color: black;
    color: white;
    content: 'Click here to add files.';
}
.file-loader {
	width: 100%;
	display: block;
	position: relative;
	top: 0;
	box-sizing: border-box;
	overflow: hidden;
}
.file-loader span {
    display: block;
    width: 100%;
	box-sizing: border-box;
    padding: .5em 1em;
    font-size: 1.4em;
    background-color: black;
    color: white;
	z-index: -1;
	text-align: center;
}
::-ms-browse, [type='file'] {
	display: none;
}
::-webkit-file-upload-button {
	display: none;
}


button#btn-fullscreen {
    display: block;
    width: 100%;
	box-sizing: border-box;
    padding: .5em 1em;
    font-size: 1.4em;
    background-color: black;
    color: white;
	z-index: -1;
	text-align: center;
	border: none;
}
button#btn-showConsole {
	height: 2em;
	width: 100%;
	box-sizing: border-box;
	font-size: 20px;
	border: none;
}
button#btn-tryout {
	border: none;
	background-color: white;
	color: green;
	height: 2em;
	font-size: 20px;
	width: 100%;
}

#dConsole {
    background-color: rgba(0,0,0, 0.3);
    color: white;
    z-index: 50;
    position: fixed;
	bottom: 0;
	right: 0;
	width: auto;
	max-height: 3em;
	display: none;
}
.dConsole-window {
	background-color: rgba(0,0,0, 0.9) !important;
    top: 0;
    left: 0;
	padding-top: 1em;
    width: 100%;
	overflow: scroll;
	max-height: none !important;
	display: block !important;
}




/* debuging */

span.header {
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}
.header > .icon-group {
	color: rgba(255,255,255,.6);
}
.icon-focus {
	color: white;
}
.icon-inline {
	margin: 0 .2em;
}
.icon-image {
	padding: 1em;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	margin: 0em 0.2em;
	display: inline-block;
	vertical-align: middle;
}

/* add styles on Ranges scroll */
.range {

}
.rangeScrolling > .range-btn {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	margin-top: -5px;
}

.icon {
	display: inline-block;
	margin: 0 0.2em;
	font-size: 30px;
	vertical-align: middle;
}
.round-icon{
	display: block;
	background-size: cover;
}
.icon-thumb_up {
	font-size: 2.5em;
	vertical-align: sub;
}
/*.icon-btn-pause-w { background-image: url('icons/play-w.svg'); }*/
/*.icon-btn-play-w { background-image: url('icons/pause-w.svg'); }*/
/*.icon-btn-pause-r { background-image: url('icons/play-r.svg'); }*/
/*.icon-btn-play-r { background-image: url('icons/pause-r.svg'); }*/


/*.icon-right-arrow { background-image: url('icons/arrow-right-w.svg'); }
.icon-thumb-up { background-image: url('icons/thumb-up-w.svg')}
/* system page */
/*.icon-menu-w { background-image: url('icons/menu-w.svg')}
.icon-netease { background-image: url('icons/home-w.svg')}
.icon-music { background-image: url('icons/music-w.svg')}
.icon-people { background-image: url('icons/people-w.svg')}
.icon-search { background-image: url('icons/search-w.svg')}*/

.icon-shareToTencent { background-image: url('icons/wechat-g.png'); }
.icon-shareToYixin { background-image: url('icons/yixin_logo.png'); }

/* share menu */
/*.icon-shareToYun { background-image: url('icons/cloud-b.svg'); }
.icon-shareToMsg { background-image: url('icons/mail-b.svg'); }
.icon-shareToURL { background-image: url('icons/link-b.svg'); }
.icon-shareToOtherWays { background-image: url('icons/more-horiz-b.svg'); }*/

/* file option menu */
/*.icon-addTo { background-image: url('icons/addtolist-b.svg'); }
.icon-download { background-image: url('icons/download-b.svg'); }
.icon-tag-artist { background-image: url('icons/person-b.svg'); }
.icon-tag-album { background-image: url('icons/album-b.svg'); }
.icon-btn-audioQuality { background-image: url('icons/pc-b.svg'); }
.icon-btn-proposeAlike { background-image: url('icons/audio-b.svg'); }
.icon-btn-stopAtTime { background-image: url('icons/schedule-b.svg'); }
.icon-btn-drivingMode { background-image: url('icons/driving-b.svg'); }*/

/* sidebar left */
/*.icon-mail { background-image: url('icons/mail-b.svg'); }
.icon-cart { background-image: url('icons/cart-b.svg'); }
.icon-package { background-image: url('icons/package-b.svg'); }
.icon-free { background-image: url('icons/inbox-b.svg'); }
.icon-mic { background-image: url('icons/mic-b.svg'); }
.icon-cloth { background-image: url('icons/setup-b.svg'); }
.icon-bulb { background-image: url('icons/bulb-b.svg'); }
.icon-clock { background-image: url('icons/clock-b.svg'); }
/*.icon-cloud { background-image: url('icons/cloud-b.svg'); }*/



/* global style */
::-webkit-scrollbar {
	display: none;
}
